.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.not-hover {
  transform: translateY(10%);
  transition: all 0.6s ease;
}

.hover {
  transform: translate(-50%, -50px);
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  transition: all 0.6s ease;
}

.list_link:hover .not-hover {
  transform: translate(0%, 50px);
  transition: all 0.6s ease;
}

.list_link:hover .hover {
  transform: translate(-50%, 7px);
  transition: all 0.6s ease;
}

.cart__count::before {
  content: attr(data-count);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: white;
  color: #43c6ac;
  width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 100rem;
  z-index: 99;
}

.use_box {
  position: absolute;
  display: none;
  top: 50px;
}

.use_box::before {
  content: "";
  clip-path: polygon(50% 57%, 0% 100%, 100% 100%);
  background-color: #fff;
  position: absolute;
  top: -4px;
  right: 35px;
  width: 20px;
  height: 20px;
}

.navbar__usernam:hover .use_box {
  display: block;
}

.cart_container:hover .box_cart {
  display: block;
}

.box_cart {
  display: none;
}

.empty_cart::before {
  content: "";
  clip-path: polygon(50% 57%, 0% 100%, 100% 100%);
  background-color: #fff;
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  right: 18px;
}
